<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.test.plugin.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.example.test.plugin.intro.Perspective"
            id="com.example.test.plugin.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.example.test.plugin.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png,icons/eclipse512.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.example.test.plugin.intro">
      </intro>
      <introProductBinding
            introId="com.example.test.plugin.intro"
            productId="com.example.test.plugin.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.example.test.plugin.intro"
            content="introContent.xml"
            id="com.example.test.plugin.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
